* {
    margin: 0;
    padding: 0;
    border: 0;
}
#container {
    margin: 0 auto;
    width: 760px;
    height: 600px;
    overflow: hidden;
    position: relative;
    border: 1px solid;
}
/* get-mooncake */
.mooncake {
    position: absolute;
    left: 0;
    top: 0;
}
#big, #big img {
    width: 114px;
    height: 101px;
    overflow: hidden;
}
#small, #small img {
    width: 66px;
    height: 61px;
    overflow: hidden;
}
#stone, #stone img {
    width: 126px;
    height: 96px;
    overflow: hidden;
}